            li {
                background: white;
            }

            li:nth-child(odd) {
                background: #f3efef;
            }

            li, ul {
                list-style: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            li ul {
                margin-left: 16px;
                height: 0px;
            }

            li input {
                display: none;
            }

            li input:checked ~ ul {
                height: auto;
            }

            label {
                margin-bottom: 0;
            }

            /*Это квадратик с плюсиком +, когда нижележащий список свёрнут*/
            input + label:before {
                content: "";
                display: inline-block;
                height: 16px;
                width: 16px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAACXBIWXMAAAsSAAALEgHS3X78AAAAkElEQVQYlXWOvRWDQAyDv/DYK2wQSro8OkpGuRFcUjJCRmEE0TldCpsjPy9qzj7Jki62Pgh4vnqbbbEWuN+use/PlArwHccWGg780psENGFY6W4YgxZIAM339WmT3m397YYxxn6aASslFfVotYLTT3NwcuTKlFpNR2sdEak4acdKeafPlE2SZ7sw/1BEtX94AXYTVmyR94mPAAAAAElFTkSuQmCC) no-repeat 0px 5px;
            }

            /* Это минус в квадратике -, когда нижележащий список раскрыт */
            input:checked + label:before {
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAACXBIWXMAAAsSAAALEgHS3X78AAAAeklEQVQYlX2PsRGDMAxFX3zeK9mAlHRcupSM4hFUUjJCRpI70VHIJr7D8BtJ977+SQ9Zf7isVG16WSQC0/D0OW/FqoBlDFkIVJ2xAhA8sI/NHbcYiFrPfI0fGklKagDx2F4ltdtaM0J9L3dxcVxi+zv62E+MwPs7c60dClRP6iug7wUAAAAASUVORK5CYII=) no-repeat 0px 5px;
            }
